body {
    background-color: var(--color-background);
    font-family: 'Roboto', sans-serif;
    color: var(--color-text);
}

.Teams {
    font-size: 25px;
    text-align: var(--align-text);
    align-self: var(--align-text);
}

.Schedule {
    font-size: 20px;
    text-align: var(--align-text);
}

h1, h2 {
    font-family: 'Open Sans', 'Roboto', sans-serif;
}

h1 {
    font-style: italic;
    text-align: var(--align-text);
    font-size: 40px;
    color: var(--color-text-header);
    background-color: var(--color-background-header);
}

h2 {
    background-color: var(--color-background-header);
    color: var(--color-text-header);
    font-size: 35px;
    text-align: var(--align-text);
}

h3 {
    font-size: 30px;
    font-style: italic;
    text-align: var(--align-text);
}

p {
    color: yellow;
    text-decoration: underline;
}

dl, dt, dd {
    text-align: var(--align-text);
}

dt {
    text-align: left;
    padding: 10px;
}

a:link {
    color: var(--color-text);
    text-decoration: none;
}

a:visited {
    color: var(--color-text);
}

a:hover {
    color: #3271a8;
}

a:active {
    color: #85afd4;
}

.icon {
  width: 1em;
  height: 1em;
  display: inline;
  vertical-align: middle;
  fill: currentColor;
}