:root {
    --color-background-title: #1B47A6;
    --color-background-header: #1B47A6;
    --color-background: #f7f0d1;
    --color-text-header: white;
    --color-text: black;
    --align-text: center;
    --page-grids: 4;
}